/* Aca los estilos de la interfas del administrador */
#admin_page {
    background-color: #1a237e;
    padding: 20px;
    #soyYo{
      display: flex;
      justify-content: center;
      color: #fff;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      h3 { color: #fff; }
      th {
        border-radius: 10px;
        background-color: red;
        color: #fff;
       
        text-align: left;
        button {
          background-color: #1565c0;
          color: #fff;
          border: none;
          padding: 8px 12px;
          cursor: pointer;
        }
      }
      th,td {
        border: 1px solid #90a4ae;
        padding: 8px;
      }
    }
  }
  