#client_page {
  background-color: #3498db; 
  padding: 20px;
  div {
      text-align: center;
      font-size: medium;
  }

  h3 {
      color: white;
  }

  #formClient {
      display: flex;
      justify-content: center;
      background-color: transparent;

      form {
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          padding: 20px;
          align-items: center;
          background-color: #2980b9; 
          h3 {
              margin-bottom: 20px;
          }
          div {
              #desc {
                  margin-top: 10px;
              }
              margin-bottom: 20px;
          }
      }
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      th {
          background-color: #2980b9; 
          color: #fff;
          padding: 10px;
          text-align: left;
          .update-button {
              padding: 8px;
              background-color: #27ae60; 
              color: white;
              border: none;
              cursor: pointer;
              border-radius: 4px;
          }

          .update-button:hover {
              background-color: #2ecc71; 
              color: black;
          }

          .delete-button {
              padding: 8px;
              background-color: #c0392b; 
              color: white;
              border: none;
              cursor: pointer;
              border-radius: 4px;
          }

          .delete-button:hover {
              background-color: #e74c3c; 
              color: black;
          }
      }
      th, td {
          border: 1px solid #ddd;
          padding: 8px;
      }
  }
}

#content_cards {
  justify-content: center;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #2980b9;
  border: solid 2px white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 15px;

  .card-title {
      background-color: transparent;
      font-style: italic;
  }

  .card-description {
      font-weight: bold;
      height: 70px;
      overflow-y: auto;
  }

  .card-actions {
      background-color: transparent;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;

      #checkbox {
          margin-right: 10px;
      }

      .update-button {
          padding: 8px;
          background-color: #27ae60; 
          color: white;
          border: none;
          cursor: pointer;
          border-radius: 4px;
      }

      .update-button:hover {
          background-color: #2ecc71; 
          color: black;
      }

      .delete-button {
          padding: 8px;
          background-color: #c0392b; 
          color: white;
          border: none;
          cursor: pointer;
          border-radius: 4px;
      }

      .delete-button:hover {
          background-color: #e74c3c; 
          color: black;
      }
  }
}
